* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    height: calc(100vh - 110px);
    overflow-y: auto;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row.h {
    justify-content: flex-end;
}
.col.h {
    height: 30px;
    display: flex;
    align-items: center;
}
.content.h span {
    background-color: gray;
    color: white;
    padding: 5px;
    top: 3px;
}
footer {
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
}
ul {
    list-style-type: none;
    text-align: center;
}
li {
    display: inline-block;
    margin: 0 10px;
    color: white;
}
li div {
    font-size: 10px;
}

.fa-caret-down {
    font-size: 15px;
    margin: 3px;
}
.fa-share-from-square {
    color: rgb(2, 183, 2);
}
.col.f.left, .col.f.right {
    width: 20vw;
}
.col.f.medium {
    width: 60vw;
}
.col.f.right li {
    color: red;  
}
.row.m, .row.f {
    justify-content: center;
}
.col.m {
    width: calc(100vw / 7);
    min-width: 100px;
    margin: 5px;
}
.content.m {
    margin: 10px;
    aspect-ratio: 16 / 9;
    position: relative;
}
img, .content.m {
    width: calc(100vw / 7);
    height: 140px;
}
.user {
    padding: 5px;
    color: white;
    background-color: gray;
    position: absolute;
    left: 0px;
    bottom: 5px;
}