* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: yellow;
    height: calc(100vh - 80px);
    overflow-y: auto;
}
footer {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
    margin: 0 10px;
    color: white;
}
.container.m {
    max-width: 1400px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col.m {
    width: calc(100vw / 7);
    min-width: 100px;
}
.content.m {
    margin: 10px;
    aspect-ratio: 16 / 9;
    position: relative;
}
img, .content.m {
    width: calc(100vw / 7);
    height: 140px;
}
.user {
    padding: 5px;
    color: white;
    background-color: gray;
    position: absolute;
    left: 0px;
    bottom: 5px;
}